<%= form_with(model: user, local: true, class: "form-small") do |form| %>

  <div class="field">
    <%= form.text_field(:first_name, id: :user_first_name, class: "form-control first", placeholder: "first name") %>
  </div>

  <div class="field">
    <%= form.text_field(:last_name, id: :user_last_name, class: "form-control normal", placeholder:"last name") %>
  </div>

  <div class="field">
    <%= form.text_field(:email, id: :user_email, class: "form-control normal", placeholder: "email") %>
  </div>

  <div class="field">
    <%= form.date_field(:dob, class: "form-control normal", placeholder: "date of birth") %>
  </div>

  <div class="field">
    <%= form.select :gender, User.genders.keys, {}, include_blank: true, class: "form-control normal" %>
  </div>

  <div class="field">
    <%= form.select :role, User.roles.keys, {}, include_blank: true, class: "form-control last" %>
  </div>
  <br />
  <div class="field">
    <%= form.submit("save", class: "btn btn-primary form-control") %>
  </div>

<% end %>
