<h1>Users</h1>

<%= form_tag("/users", method: "get", class: "form") do %>
  <div class="input-group">
    <%= text_field_tag(:search, @search, placeholder: 'email, first name or last name', class: "form-control") %>
    <span class="input-group-btn">
      <button class="btn btn-primary" type="submit">search</button>
    </span>
  </div>
<% end %>
<br />
<table class="table">
  <thead>
    <tr>
      <th class="text-left">Name</th>
      <th class="text-left">Email</th>
      <th class="text-left">Age</th>
      <th class="text-left">Gender</th>
      <th class="text-left">Role</th>
      <th class="text-left" colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @users.each do |user| %>
      <tr>
        <td class="text-left"><%= user.full_name %></td>
        <td class="text-left"><%= user.email %></td>
        <td class="text-left"><%= distance_of_time_in_words(user.dob, DateTime.now) %></td>
        <td class="text-left"><%= user.gender %></td>
        <td class="text-left"><%= user.role %></td>
        <td class="text-left"><%= link_to 'edit', edit_user_path(user) %></td>
        <td class="text-left"><%= link_to 'remove', user, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<nav aria-label="Page navigation">
  <ul class="pagination">
    <% 1.upto(@pages) do |page_number| %>
    <li class="<%= page_number == @current_page ? 'active' : nil %>"><%= link_to page_number, users_path(page: page_number, search: @search) %></li>
    <% end %>
  </ul>
</nav>


<br />

