<h1>Measurements</h1>

<%= form_tag("/measurements", method: "get", class: "form") do %>
  <div class="input-group">
    <%= text_field_tag(:search, @search, placeholder: 'category', class: "form-control") %>
    <span class="input-group-btn">
      <button class="btn btn-primary" type="submit">search</button>
    </span>
  </div>
<% end %>
<br />

<table class="table">
  <thead>
    <tr>
      <th class="text-left">Date</th>
      <th class="text-left">Category</th>
      <th class="text-center">Risk Level</th>
      <th colspan="1"></th>
    </tr>
  </thead>

  <tbody>
    <% @measurements.each do |measurement| %>
      <%
        risk = "default"
        if measurement.bmi_range.normal_risk?
          risk = "success"
        elsif measurement.bmi_range.average_risk?
          risk = "warning"
        elsif measurement.bmi_range.important_risk?
          risk = "warning"
        elsif measurement.bmi_range.severe_risk?
          risk = "danger"
        end
      %>

      <tr>
        <td class="text-left"><%= measurement.created_at.to_formatted_s(:short) %></td>
        <td class="text-left"><%= measurement.bmi_range.category.humanize %></td>
        <td class="text-center"><span class="label label-<%= risk %>"><%= measurement.bmi_range.risk.humanize %></span></td>
        <td class="text-left"><%= link_to 'remove', measurement, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<nav aria-label="Page navigation">
  <ul class="pagination">
    <% 1.upto(@pages) do |page_number| %>
    <li class="<%= page_number == @current_page ? 'active' : nil %>"><%= link_to page_number, measurements_path(page: page_number, search: @search) %></li>
    <% end %>
  </ul>
</nav>


<br />