<p id="notice"><%= notice %></p>

<p>
  <strong>User:</strong>
  <%= @measurement.user %>
</p>

<p>
  <strong>BMI Range:</strong>
  <%= @measurement.bmi_range %>
</p>

<%= link_to 'Edit', edit_measurement_path(@measurement) %> |
<%= link_to 'Back', measurements_path %>
