<%= form_with(model: bmi_range, local: true, class: "form-small") do |form| %>

  <div class="field">
    <%= form.select :category, BmiRange.categories.keys, {}, include_blank: true, class: "form-control first" %>
  </div>

  <div class="field">
    <%= form.number_field(:lower_limit, id: :bmi_range_lower_limit, step: :any, class: "form-control normal") %>
  </div>

  <div class="field">
    <%= form.number_field(:upper_limit, id: :bmi_range_upper_limit, step: :any, class: "form-control last") %>
  </div>


  <div class="field">
    <%= form.submit("save", class: "btn btn-primary form-control") %>
  </div>
<% end %>
