<p id="notice"><%= notice %></p>

<h1>Bmi Ranges</h1>

<table>
  <thead>
    <tr>
      <th>Lower limit</th>
      <th>Upper limit</th>
      <th>Category</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @bmi_ranges.each do |bmi_range| %>
      <tr>
        <td><%= bmi_range.lower_limit %></td>
        <td><%= bmi_range.upper_limit %></td>
        <td><%= bmi_range.category %></td>
        <td><%= link_to 'Show', bmi_range %></td>
        <td><%= link_to 'Edit', edit_bmi_range_path(bmi_range) %></td>
        <td><%= link_to 'Destroy', bmi_range, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Bmi Range', new_bmi_range_path %>
